<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BALLAD</title>
  <link rel="stylesheet" href="/css/style.css">
</head>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mac DeMarco</h5>
    <p class="card-text">Description on user</p>
  </div>

  <div class="list-group">
        <label for="age">Age:</label>
        
        <label for="gender">Gender:</label>
        
        <label for="interested-in">Interested in:</label>
        {{!-- drop down --}}
        <label for="location">Location:</label>
        
        <label for="genres">Favorite Genre:</label>
        {{!-- dropdown --}}

        <label for="artists">Favorite Artist:</label>
        {{!-- dropdown --}}
      </div>
      <div class="card-links">
        <button class="btn btn-primary" type="submit">Let's Make a Ballad!</button>
        <button class="btn btn-primary" type="remove">Bye Felicia!</button>
      </div>
</div>


  {{!-- <div class="list-group">
        <label for="artists">Favorite Artist:</label>
        <input class="form-input" type="text" id="artists" /> --}}




