{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BALLAD</title>
  <link rel="stylesheet" href="/css/style.css">
</head> --}}

<header>
    <h1>BALLAD</h1>
</header>
<div class="list-group">
        <label for="name">Full Name:</label>
        <input class="form-input" placeholder="Full Name" type="text" id="age" />
        <label for="age">Age:</label>
        <input class="form-input" placeholder="Age" type="text" id="age" />
        <label for="gender">Gender:</label>
        <input class="form-input" placeholder="Gender" type="text" id="gender" />
        <label for="interested-in">Interested in:</label>
        <input class="form-input" placeholder="Interested In" type="text" id="interested-in" />
        <label for="location">Location:</label>
        <input class="form-input" placeholder="Location" type="text" id="location" />
        <label for="genres">Favorite Genre:</label>
        <input class="form-input" placeholder="Favorite Genre" type="text" id="genres" />
        <label for="artists">Favorite Artist:</label>
        <input class="form-input" placeholder="Favorite Artist" type="text" id="artists" />
</div>
      
